# Ignore virtual environment folders
venv/
ENV/
env/
.venv/

# Ignore Python cache
__pycache__/
*.py[cod]
*.so

# Ignore environment variables
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore zip/backup files
*.zip
*.tar.gz
*.bak
*.tmp

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
